<header class="clear-padding container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="header-pulldown login-wrapper hidden-sm hidden-xs">
                <span>
                    <button class="btn btn-default">התנתק/י</button>
                </span>
                <span>
                    שלום, עידו
                </span>
            </div>
        </div>
        <div class="col-md-6">
            <nav class="navbar">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>                        
                        </button>
                        <div class="header-pulldown login-wrapper visible-sm visible-xs">
                            <span>
                                <button class="btn btn-default">התנתק/י</button>
                            </span>
                            <span>
                                שלום, עידו
                            </span>
                        </div>
                    </div>
                    <div class="collapse navbar-collapse"  id="myNavbar">
                        <ul class="nav navbar-nav myNav header-pulldown" data-toggle="coll apse" data-target="#myNavbar">
                            <li class="visible-lg visible-md pointer"><a>הגדרות</a> </li>
                            <li class="visible-lg visible-md pointer"><a>מתנדבים</a></li> 
                            <li class="visible-lg visible-md pointer"><a>הודעות כלליות</a></li>
                            <li routerLink="events" class="pointer higher-z"><a>אירועים</a> </li>
                            <li class="visible-sm visible-xs pointer higher-z"><a>הודעות כלליות</a></li>
                            <li class="visible-sm visible-xs pointer higher-z"><a>מתנדבים</a></li>
                            <li class="visible-sm visible-xs pointer higher-z"><a>הגדרות</a></li>
                            <li class="visible-sm visible-xs pointer higher-z"><a>יצירת אירוע חדש</a></li>
                            <li class="visible-sm visible-xs pointer higher-z"><a>ארכיון פעילים</a></li>
                            <li class="visible-sm visible-xs pointer higher-z"><a>ארכיון אירועים</a></li>
                            
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
    </div>
  
</header>
