<h1> test </h1>
<!--  -->
<link rel="stylesheet" href="">
<header class="myDiv">
  <span>fdsfds</span>

  <nav>
    <ul class="myUl">
      <li>
        <a href="http://facebook.com">
            facebook
        </a>
        
      </li>
      <li>
        fkldsfds
      </li>
      <li>
        fkldsfds
      </li>
      <li>
        fkldsfds
      </li>
      <li class="myLi" style="background-color:red">
        fkldsfds
      </li>
    </ul>
    <ol>
      <li>
        fkldsfds
      </li>
      <li>
        fkldsfds
      </li>
      <li>
        fkldsfds
      </li>
    </ol>
  </nav>
</header>
<main>
  <iframe src="https://www.ynet.co.il/home/0,7340,L-8,00.html" frameborder="0" width="100%" height="100vh"></iframe>
  <div class="myDiv">
    im a div
    <div class="myDiv2">
      im a another div
    </div>
    <img src="http://www.yo-yoo.co.il/coolpics/images/uploads/4c8498.jpeg" alt="אלטרנטיבה">
    <span>
      im a span
    </span>
  </div>
  <div class="myDiv3">
    <div>im a div</div>
  </div>
</main>

<footer></footer>

<style>
  
  div.myDiv  {
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(66, 113, 244);
  }

  div.myDiv span {
    background-color: black;
  }

  .myDiv3 {
    background-color: aqua;
  }

  .myDiv3 div {
    background: url("http://www.yo-yoo.co.il/coolpics/images/uploads/4c8498.jpeg");
  }

  ul.myUl li {
    background-color: aqua;
    display: inline;
  }
  
</style>